/* font-family: 'Inter', sans-serif; */
/* Font sizes
    23 heading
    16 input label
    12 p
    14 button
*/


/* COLOR */

/* color.Link */
/* #5D5FEF */


:root{
    --main:#5D5FEF;
}

@font-face {
    font-family: "Inter";
    src: url('/dist/fonts/Inter-Light.ttf') format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Inter";
    src: url('/dist/fonts/Inter-Medium.ttf') format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Inter";
    src: url('/dist/fonts/Inter-Bold.ttf') format("truetype");
    font-weight: 700;
    
}
  body { 
    font-family: "Inter", sans-serif;
        }

    h1{
        font-size: 23px;
    }
    label.TOS,form div.form-group input.form-control,.copyRight,.logIn, label.error{
        font-weight: 300;
    }
    label.TOS,.logIn,.copyRight, label.error{
        font-size: 12px;
    }
    label.error{
        color: #ff0001;
        margin: 0;
        position: absolute;
    }
    label#TOS-error{
        position: static;
    }
    .btn-cus{
        background-color: var(--main);
    }
    .logIn,.copyRight{text-align: center;}
    form div.form-group input.form-control{
        background: rgba(42, 37, 80,0.1);
        font-size: 14px;
    }
    form div.form-group{
        position: relative;
    }